<!DOCTYPE html>
<html lang="en" ng-app="bookspiration">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  

  <title> Bookspiration </title>

  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-resource.min.js"></script>
  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="app.js"></script>


  
</head>
<body ng-controller="MainCtrl">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Bay Area Bookspiration</h1>
        <h3> Find your next book! </h3>
        <form ng-submit="searchCategories()" class="form-inline">
          <div class="form-group">
            <input type="text" ng-model="categories" class="form-control" placeholder="type any genre">
          </div>
          <input type="submit" value="Search" class="btn btn-primary">
          <br>
          <br>
        </form>
        <br>
        <br>
        <div class="row" ng-show="books.length > 0" >
          <div class="col-md-3" ng-repeat="book in books">
            <img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>